*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:#04121e;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    width: 48px;

}
ul{
    list-style: none;
    color: white;

}
.header ul li{
    display: inline-block;
    font-size: 15px;
    margin-left: 600 px;
    font-weight: 600;
    margin-right: 45px;
}
.botoninicio{
    font-size: 20px;
}
/*CSS PARA EL BOTON DEL HEADER*/
button {
   

    --button_color: #e8e8e8;
    --button_outline_color: #004d99;
    font-size: 12px;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

 .jumbotron{
    margin: 0px 100px 20px 100px;
    background-image: url("/Imagenes/Medusa-jumbotron-unsplash.jpg");
    background-size: 1320px 452px;
    background-repeat: no-repeat;
    background-position: 1px -8px;
    color: aliceblue;
    height: 350px;
    border-radius: 0px;
 }
 .jumbotron h1{
    font-size: 5vw; 
 }
 .catalogo{
    display: flex;
    justify-content: center;
    margin: 100px;
 }

 .card{
    width: 272px;
    margin: 5px;
 }
 .adicional{
    display: flex;
    justify-content: center;
    margin: 20px;
 }
 .imagen-adicional{
    width: 267px;
    height: 400px;
    background-color: #04121e;
 }
 .info-adicional{
    width: 600px;
    height: 400px;
    background-color: #04121e;
 }
 #medusa-adi{
    width: 267px;
 }  
 .info-adicional{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .info-adicional h3{
    margin-left: 88px;
 }
 .info-adicional h1{
    margin-left: 88px;
    margin-top: 60px;
 }
 .info-adicional p {
    margin-left: 88px;
    margin-right: 121px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.imacard{
    width: 100%;
    height: 300px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 5px;
}
.footer{
    margin-top: 140px;
    background-color:#04121e;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logofooter{
    width: 48px;
    margin-right: 11px;
    margin-left: -349px;
}
.linkedin{
   margin-right: 20px;
   margin-left: 40px;
}
.footer h3{
    color: white;
    margin-right: 180px;
}
@media screen and (max-width: 560px){
    .jumbotron{
        margin: 0px 72px 20px 100px;
        background-size: 390px 370px;
        height: 285px;
    }
    .catalogo{
        display: flex;
        flex-direction: column;
    }
    .imagen-adicional{
        width: 220px;
    }
    .info-adicional{
        width: 248px;
    }
    .info-adicional h3{
        margin-left: 28px;
     }
     .info-adicional h1 {
        margin-left: 28px;
        margin-top: 3px;
        font-size: 1.5rem;
    }
    .info-adicional p {
        margin-left: 29px;
        margin-right: 30px;
    }
    #logofooter {
        width: 49px;
        margin-right: 31px;
        margin-left: -81px;
    }
    .footer h3 {
        color: white;
        margin-right: 2px;
        font-size: 1.35rem;
    }
    .header ul li{
        margin-right: 18px;  
    }
}
@media screen and (max-width: 840px){
    .jumbotron{
        margin: 0px 72px 20px 100px;
        background-size: 640px 370px;
        height: 285px;
    }
    .catalogo {
        display: flex;
        flex-wrap: wrap;
        margin: 170px;
    }
    .imagen-adicional{
        width: 240px;
    }
    .info-adicional{
        width: 420px;
    }
    #logofooter {
        width: 49px;
        margin-right: 8px;
        margin-left: -243px;
    }
    .footer h3 {

        margin-right: 110px;
    }

}